/********** Base styles **********/
* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

p {
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

/* clear right so that it maintains document flow */
section {
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	clear: right;
}

.p1, .p2, .p3 {
	float: right;
	border: 1px solid black;
	margin-top: 0;
	margin-bottom: 5px;
	position: relative;
	top: 0;
	right: 0;
}

/* Customizes the title of first section */
.p1 {
	background-color: crimson;
}

/* Customizes the title of second section */
.p2 {
	background-color: dodgerblue;
}

/* Customizes the title of third section */
.p3 {
	background-color: gold;
}

/* Simple Responsive Framework.   */
.row {
	width: 100%;
}

/********** Desktop version **********/
@media (min-width: 992px){
	.desktop-3-equal {
		float: left;
		position: relative;
		width: 31.33%;
		height: 245px;
		border: 1px solid black;
		margin: 1%;
		background-color: lightgreen;
		overflow: hidden;
	}

}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
	.tablet-2-equal, .tablet-1-row {
		float: left;
		border: 1px solid black;
		margin: 1%;
		background-color: lightgreen;
		overflow: hidden;
	}
	.tablet-2-equal {
		width: 48%;
		height: 245px;
	}
	.tablet-1-row {
		width: 98%;
	}
}

/********** mobile version **********/
@media (max-width: 767px) {
	.mobile-1-row {
		float: left;
		width: 98%;
		border: 1px solid black;
		margin: 1%;
		margin-bottom: 2%;
		background-color: lightgreen;
		overflow: hidden;
	}
}